<a href="https://colab.research.google.com/github/kjsampler/Wildfire-Data/blob/main/WildFire_Data_Exploration_(Colab).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook will be used to explore the wildfire dataset, and trim it down to what is necessary in order to avoid pushing a large file to GitHub.

In [1]:
#https://www.kaggle.com/rtatman/188-million-us-wildfires
#Located in MyDrive

In [2]:
#!unzip /content/drive/MyDrive/archive.zip -d /content/drive/MyDrive/WildfireData
# line to unzip and redirect data (commented out once completed)

In [3]:
import sqlite3
import pandas as pd

In [4]:
conn = sqlite3.connect('/content/drive/MyDrive/WildfireData/FPA_FOD_20170508.sqlite')
c = conn.cursor()

# Analyze Schema
Schema is first marked down on paper and then organized into a visualization.

In [5]:
c.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""")
table_names = c.fetchall()

In [6]:
table_names

[('spatial_ref_sys',),
 ('spatialite_history',),
 ('sqlite_sequence',),
 ('geometry_columns',),
 ('spatial_ref_sys_aux',),
 ('views_geometry_columns',),
 ('virts_geometry_columns',),
 ('geometry_columns_statistics',),
 ('views_geometry_columns_statistics',),
 ('virts_geometry_columns_statistics',),
 ('geometry_columns_field_infos',),
 ('views_geometry_columns_field_infos',),
 ('virts_geometry_columns_field_infos',),
 ('geometry_columns_time',),
 ('geometry_columns_auth',),
 ('views_geometry_columns_auth',),
 ('virts_geometry_columns_auth',),
 ('sql_statements_log',),
 ('SpatialIndex',),
 ('ElementaryGeometries',),
 ('KNN',),
 ('Fires',),
 ('idx_Fires_Shape',),
 ('idx_Fires_Shape_node',),
 ('idx_Fires_Shape_rowid',),
 ('idx_Fires_Shape_parent',),
 ('NWCG_UnitIDActive_20170109',)]

In [70]:
spatial_ref_sys_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'spatial_ref_sys';""").fetchone()

In [71]:
spatialite_history_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'spatialite_history';""").fetchone()

In [72]:
sqlite_sequence_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'sqlite_sequence';""").fetchone()

In [73]:
geometry_columns_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'geometry_columns';""").fetchone()

In [74]:
spatial_ref_sys_aux_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'spatial_ref_sys_aux';""").fetchone()

In [75]:
views_geometry_columns_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'views_geometry_columns';""").fetchone()

In [76]:
virts_geometry_columns_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'virts_geometry_columns';""").fetchone()

In [77]:
geometry_columns_stats_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'geometry_columns_statistics';""").fetchone()

In [78]:
views_geometry_columns_stats_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'views_geometry_columns_statistics';""").fetchone()

In [79]:
virts_geometry_columns_stats_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'virts_geometry_columns_statistics';""").fetchone()

In [80]:
geometry_columns_field_infos_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'geometry_columns_field_infos';""").fetchone()

In [81]:
views_geometry_columns_field_infos_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'views_geometry_columns_field_infos';""").fetchone()

In [82]:
virts_geometry_columns_field_infos_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'virts_geometry_columns_field_infos';""").fetchone()

In [83]:
geometry_columns_time_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'geometry_columns_time';""").fetchone()

In [84]:
geometry_columns_auth_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'geometry_columns_auth';""").fetchone()

In [85]:
views_geometry_columns_auth_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'views_geometry_columns_auth';""").fetchone()

In [86]:
virts_geometry_columns_auth_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'virts_geometry_columns_auth';""").fetchone()

In [87]:
sql_statements_log_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'sql_statements_log';""").fetchone()

In [88]:
spatial_index_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'SpatialIndex';""").fetchone()

In [89]:
elementary_geometries_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'ElementaryGeometries';""").fetchone()

In [90]:
knn_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'KNN';""").fetchone()

In [91]:
fires_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'Fires';""").fetchone()

In [92]:
idx_fires_shape_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'idx_Fires_Shape';""").fetchone()

In [93]:
idx_fires_shape_node_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'idx_Fires_Shape_node';""").fetchone()

In [94]:
idx_fires_shape_rowid_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'idx_Fires_Shape_rowid';""").fetchone()

In [95]:
idx_fires_shape_parent_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'idx_Fires_Shape_parent';""").fetchone()

In [96]:
NWCG_UnitIDActive_20170109_var = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'NWCG_UnitIDActive_20170109';""").fetchone()

In [97]:
spatial_ref_sys_var

("CREATE TABLE spatial_ref_sys (\nsrid INTEGER NOT NULL PRIMARY KEY,\nauth_name TEXT NOT NULL,\nauth_srid INTEGER NOT NULL,\nref_sys_name TEXT NOT NULL DEFAULT 'Unknown',\nproj4text TEXT NOT NULL,\nsrtext TEXT NOT NULL DEFAULT 'Undefined')",)

* srid
* auth_name
* auth_srid
* nref_sys_name
* nproj4text
* srtext

In [98]:
spatialite_history_var

('CREATE TABLE spatialite_history (\nevent_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,\ntable_name TEXT NOT NULL,\ngeometry_column TEXT,\nevent TEXT NOT NULL,\ntimestamp TEXT NOT NULL,\nver_sqlite TEXT NOT NULL,\nver_splite TEXT NOT NULL)',)

* event_id
* table_name
* geometry_column
* event
* timestamp
* ver_sqlite
* ver_splite

In [99]:
sqlite_sequence_var

('CREATE TABLE sqlite_sequence(name,seq)',)

* name
* seq

In [100]:
geometry_columns_var

('CREATE TABLE geometry_columns (\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\ngeometry_type INTEGER NOT NULL,\ncoord_dimension INTEGER NOT NULL,\nsrid INTEGER NOT NULL,\nspatial_index_enabled INTEGER NOT NULL,\nCONSTRAINT pk_geom_cols PRIMARY KEY (f_table_name, f_geometry_column),\nCONSTRAINT fk_gc_srs FOREIGN KEY (srid) REFERENCES spatial_ref_sys (srid),\nCONSTRAINT ck_gc_rtree CHECK (spatial_index_enabled IN (0,1,2)))',)

* f_table_name
* f_geometry_column
* geometry_type
* coord_dimension
* spatial_index_enabled
* srid

In [101]:
spatial_ref_sys_aux_var

('CREATE TABLE spatial_ref_sys_aux (\n\tsrid INTEGER NOT NULL PRIMARY KEY,\n\tis_geographic INTEGER,\n\thas_flipped_axes INTEGER,\n\tspheroid TEXT,\n\tprime_meridian TEXT,\n\tdatum TEXT,\n\tprojection TEXT,\n\tunit TEXT,\n\taxis_1_name TEXT,\n\taxis_1_orientation TEXT,\n\taxis_2_name TEXT,\n\taxis_2_orientation TEXT,\n\tCONSTRAINT fk_sprefsys FOREIGN KEY (srid) \tREFERENCES spatial_ref_sys (srid))',)

* srid
* is_geographic
* has_flipped_axes
* spheroid
* prime_meridian
* projection
* unit
* axis_1_name
* axis_1_orientation
* axis_2_name
* axis_2_orientation

In [102]:
views_geometry_columns_var

('CREATE TABLE views_geometry_columns (\nview_name TEXT NOT NULL,\nview_geometry TEXT NOT NULL,\nview_rowid TEXT NOT NULL,\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\nread_only INTEGER NOT NULL,\nCONSTRAINT pk_geom_cols_views PRIMARY KEY (view_name, view_geometry),\nCONSTRAINT fk_views_geom_cols FOREIGN KEY (f_table_name, f_geometry_column) REFERENCES geometry_columns (f_table_name, f_geometry_column) ON DELETE CASCADE,\nCONSTRAINT ck_vw_rdonly CHECK (read_only IN (0,1)))',)

* view_name
* view_geometry
* view_rowid
* f_table_name
* f_geometry_columns
* read_only

In [103]:
virts_geometry_columns_var

('CREATE TABLE virts_geometry_columns (\nvirt_name TEXT NOT NULL,\nvirt_geometry TEXT NOT NULL,\ngeometry_type INTEGER NOT NULL,\ncoord_dimension INTEGER NOT NULL,\nsrid INTEGER NOT NULL,\nCONSTRAINT pk_geom_cols_virts PRIMARY KEY (virt_name, virt_geometry),\nCONSTRAINT fk_vgc_srid FOREIGN KEY (srid) REFERENCES spatial_ref_sys (srid))',)

* virt_name
* virt_geometry
* geometry_type
* coord_dimension
* srid

In [104]:
geometry_columns_stats_var

('CREATE TABLE geometry_columns_statistics (\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\nlast_verified TIMESTAMP,\nrow_count INTEGER,\nextent_min_x DOUBLE,\nextent_min_y DOUBLE,\nextent_max_x DOUBLE,\nextent_max_y DOUBLE,\nCONSTRAINT pk_gc_statistics PRIMARY KEY (f_table_name, f_geometry_column),\nCONSTRAINT fk_gc_statistics FOREIGN KEY (f_table_name, f_geometry_column) REFERENCES geometry_columns (f_table_name, f_geometry_column) ON DELETE CASCADE)',)

* f_table_name
* f_geometry_column
* last_verified
* row_count
* extent_min_x
* extent_min_y
* extent_max_x 
* extent_max_y

In [105]:
views_geometry_columns_stats_var

('CREATE TABLE views_geometry_columns_statistics (\nview_name TEXT NOT NULL,\nview_geometry TEXT NOT NULL,\nlast_verified TIMESTAMP,\nrow_count INTEGER,\nextent_min_x DOUBLE,\nextent_min_y DOUBLE,\nextent_max_x DOUBLE,\nextent_max_y DOUBLE,\nCONSTRAINT pk_vwgc_statistics PRIMARY KEY (view_name, view_geometry),\nCONSTRAINT fk_vwgc_statistics FOREIGN KEY (view_name, view_geometry) REFERENCES views_geometry_columns (view_name, view_geometry) ON DELETE CASCADE)',)

* view_name
* view_geometry
* last_verified
* row_count
* extent_min_x
* extent_min_y
* extent_max_x
* extent_max_y

In [106]:
virts_geometry_columns_stats_var

('CREATE TABLE virts_geometry_columns_statistics (\nvirt_name TEXT NOT NULL,\nvirt_geometry TEXT NOT NULL,\nlast_verified TIMESTAMP,\nrow_count INTEGER,\nextent_min_x DOUBLE,\nextent_min_y DOUBLE,\nextent_max_x DOUBLE,\nextent_max_y DOUBLE,\nCONSTRAINT pk_vrtgc_statistics PRIMARY KEY (virt_name, virt_geometry),\nCONSTRAINT fk_vrtgc_statistics FOREIGN KEY (virt_name, virt_geometry) REFERENCES virts_geometry_columns (virt_name, virt_geometry) ON DELETE CASCADE)',)

* virt_name
* virt_geometry
* last_verified
* row_count
* extent_min_x
* extent_min_y
* extent_max_x
* extent_max_y

In [107]:
geometry_columns_field_infos_var

('CREATE TABLE geometry_columns_field_infos (\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\nordinal INTEGER NOT NULL,\ncolumn_name TEXT NOT NULL,\nnull_values INTEGER NOT NULL,\ninteger_values INTEGER NOT NULL,\ndouble_values INTEGER NOT NULL,\ntext_values INTEGER NOT NULL,\nblob_values INTEGER NOT NULL,\nmax_size INTEGER,\ninteger_min INTEGER,\ninteger_max INTEGER,\ndouble_min DOUBLE,\ndouble_max DOUBLE,\nCONSTRAINT pk_gcfld_infos PRIMARY KEY (f_table_name, f_geometry_column, ordinal, column_name),\nCONSTRAINT fk_gcfld_infos FOREIGN KEY (f_table_name, f_geometry_column) REFERENCES geometry_columns (f_table_name, f_geometry_column) ON DELETE CASCADE)',)

* f_table_name
* f_geometry_column
* ordinal
* column_name
* null_values
* integer_values
* double_values
* text_values
* blob_values
* max_size
* integer_max
* double_min
* double_max

In [108]:
virts_geometry_columns_field_infos_var

('CREATE TABLE virts_geometry_columns_field_infos (\nvirt_name TEXT NOT NULL,\nvirt_geometry TEXT NOT NULL,\nordinal INTEGER NOT NULL,\ncolumn_name TEXT NOT NULL,\nnull_values INTEGER NOT NULL,\ninteger_values INTEGER NOT NULL,\ndouble_values INTEGER NOT NULL,\ntext_values INTEGER NOT NULL,\nblob_values INTEGER NOT NULL,\nmax_size INTEGER,\ninteger_min INTEGER,\ninteger_max INTEGER,\ndouble_min DOUBLE,\ndouble_max DOUBLE,\nCONSTRAINT pk_vrtgcfld_infos PRIMARY KEY (virt_name, virt_geometry, ordinal, column_name),\nCONSTRAINT fk_vrtgcfld_infos FOREIGN KEY (virt_name, virt_geometry) REFERENCES virts_geometry_columns (virt_name, virt_geometry) ON DELETE CASCADE)',)

* virt_name
* virt_geometry
* ordinal
* column_name
* null_values
* integer_values
* double_values
* text_values
* blob_values
* max_size
* integer_min
* integer_max
* double_min
* double_max

In [109]:
geometry_columns_time_var

("CREATE TABLE geometry_columns_time (\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\nlast_insert TIMESTAMP NOT NULL DEFAULT '0000-01-01T00:00:00.000Z',\nlast_update TIMESTAMP NOT NULL DEFAULT '0000-01-01T00:00:00.000Z',\nlast_delete TIMESTAMP NOT NULL DEFAULT '0000-01-01T00:00:00.000Z',\nCONSTRAINT pk_gc_time PRIMARY KEY (f_table_name, f_geometry_column),\nCONSTRAINT fk_gc_time FOREIGN KEY (f_table_name, f_geometry_column) REFERENCES geometry_columns (f_table_name, f_geometry_column) ON DELETE CASCADE)",)

* f_table_name
* f_geometry_column
* last_insert
* last_update
* last_delete

In [110]:
geometry_columns_auth_var

('CREATE TABLE geometry_columns_auth (\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\nread_only INTEGER NOT NULL,\nhidden INTEGER NOT NULL,\nCONSTRAINT pk_gc_auth PRIMARY KEY (f_table_name, f_geometry_column),\nCONSTRAINT fk_gc_auth FOREIGN KEY (f_table_name, f_geometry_column) REFERENCES geometry_columns (f_table_name, f_geometry_column) ON DELETE CASCADE,\nCONSTRAINT ck_gc_ronly CHECK (read_only IN (0,1)),\nCONSTRAINT ck_gc_hidden CHECK (hidden IN (0,1)))',)

* f_table_name
* f_geometry_column
* read_only
* hidden

In [111]:
views_geometry_columns_auth_var

('CREATE TABLE views_geometry_columns_auth (\nview_name TEXT NOT NULL,\nview_geometry TEXT NOT NULL,\nhidden INTEGER NOT NULL,\nCONSTRAINT pk_vwgc_auth PRIMARY KEY (view_name, view_geometry),\nCONSTRAINT fk_vwgc_auth FOREIGN KEY (view_name, view_geometry) REFERENCES views_geometry_columns (view_name, view_geometry) ON DELETE CASCADE,\nCONSTRAINT ck_vwgc_hidden CHECK (hidden IN (0,1)))',)

* view_name
* view_geometry
* hidden

In [112]:
virts_geometry_columns_auth_var

('CREATE TABLE virts_geometry_columns_auth (\nvirt_name TEXT NOT NULL,\nvirt_geometry TEXT NOT NULL,\nhidden INTEGER NOT NULL,\nCONSTRAINT pk_vrtgc_auth PRIMARY KEY (virt_name, virt_geometry),\nCONSTRAINT fk_vrtgc_auth FOREIGN KEY (virt_name, virt_geometry) REFERENCES virts_geometry_columns (virt_name, virt_geometry) ON DELETE CASCADE,\nCONSTRAINT ck_vrtgc_hidden CHECK (hidden IN (0,1)))',)

* virt_name
* virt_geometry
* hidden

In [113]:
sql_statements_log_var

("CREATE TABLE sql_statements_log (\nid INTEGER PRIMARY KEY AUTOINCREMENT,\ntime_start TIMESTAMP NOT NULL DEFAULT '0000-01-01T00:00:00.000Z',\ntime_end TIMESTAMP NOT NULL DEFAULT '0000-01-01T00:00:00.000Z',\nuser_agent TEXT NOT NULL,\nsql_statement TEXT NOT NULL,\nsuccess INTEGER NOT NULL DEFAULT 0,\nerror_cause TEXT NOT NULL DEFAULT 'ABORTED',\nCONSTRAINT sqllog_success CHECK (success IN (0,1)))",)

* id
* time_start
* time_end
* user_agent
* sql_statement
* success
* error_cause

In [114]:
spatial_index_var

('CREATE VIRTUAL TABLE SpatialIndex USING VirtualSpatialIndex()',)

In [115]:
elementary_geometries_var

('CREATE VIRTUAL TABLE ElementaryGeometries USING VirtualElementary()',)

In [116]:
knn_var

('CREATE VIRTUAL TABLE KNN USING VirtualKNN()',)

Virtual Tables (aka Views) are basically a combo of pieces of other table.  
I will need to determine if I actually need to use these.

In [117]:
fires_var

("CREATE TABLE Fires (OBJECTID integer primary key autoincrement not null, FOD_ID int32 check((typeof(FOD_ID) = 'integer' or typeof(FOD_ID) = 'null') and FOD_ID >= -2147483648 and FOD_ID <= 2147483647), FPA_ID text(100) check((typeof(FPA_ID) = 'text' or typeof(FPA_ID) = 'null') and not length(FPA_ID) > 100), SOURCE_SYSTEM_TYPE text(255) check((typeof(SOURCE_SYSTEM_TYPE) = 'text' or typeof(SOURCE_SYSTEM_TYPE) = 'null') and not length(SOURCE_SYSTEM_TYPE) > 255), SOURCE_SYSTEM text(30) check((typeof(SOURCE_SYSTEM) = 'text' or typeof(SOURCE_SYSTEM) = 'null') and not length(SOURCE_SYSTEM) > 30), NWCG_REPORTING_AGENCY text(255) check((typeof(NWCG_REPORTING_AGENCY) = 'text' or typeof(NWCG_REPORTING_AGENCY) = 'null') and not length(NWCG_REPORTING_AGENCY) > 255), NWCG_REPORTING_UNIT_ID text(255) check((typeof(NWCG_REPORTING_UNIT_ID) = 'text' or typeof(NWCG_REPORTING_UNIT_ID) = 'null') and not length(NWCG_REPORTING_UNIT_ID) > 255), NWCG_REPORTING_UNIT_NAME text(255) check((typeof(NWCG_REPORTING_UNIT_NAME) = 'text' or typeof(NWCG_REPORTING_UNIT_NAME) = 'null') and not length(NWCG_REPORTING_UNIT_NAME) > 255), SOURCE_REPORTING_UNIT text(30) check((typeof(SOURCE_REPORTING_UNIT) = 'text' or typeof(SOURCE_REPORTING_UNIT) = 'null') and not length(SOURCE_REPORTING_UNIT) > 30), SOURCE_REPORTING_UNIT_NAME text(255) check((typeof(SOURCE_REPORTING_UNIT_NAME) = 'text' or typeof(SOURCE_REPORTING_UNIT_NAME) = 'null') and not length(SOURCE_REPORTING_UNIT_NAME) > 255), LOCAL_FIRE_REPORT_ID text(255) check((typeof(LOCAL_FIRE_REPORT_ID) = 'text' or typeof(LOCAL_FIRE_REPORT_ID) = 'null') and not length(LOCAL_FIRE_REPORT_ID) > 255), LOCAL_INCIDENT_ID text(255) check((typeof(LOCAL_INCIDENT_ID) = 'text' or typeof(LOCAL_INCIDENT_ID) = 'null') and not length(LOCAL_INCIDENT_ID) > 255), FIRE_CODE text(10) check((typeof(FIRE_CODE) = 'text' or typeof(FIRE_CODE) = 'null') and not length(FIRE_CODE) > 10), FIRE_NAME text(255) check((typeof(FIRE_NAME) = 'text' or typeof(FIRE_NAME) = 'null') and not length(FIRE_NAME) > 255), ICS_209_INCIDENT_NUMBER text(255) check((typeof(ICS_209_INCIDENT_NUMBER) = 'text' or typeof(ICS_209_INCIDENT_NUMBER) = 'null') and not length(ICS_209_INCIDENT_NUMBER) > 255), ICS_209_NAME text(255) check((typeof(ICS_209_NAME) = 'text' or typeof(ICS_209_NAME) = 'null') and not length(ICS_209_NAME) > 255), MTBS_ID text(255) check((typeof(MTBS_ID) = 'text' or typeof(MTBS_ID) = 'null') and not length(MTBS_ID) > 255), MTBS_FIRE_NAME text(50) check((typeof(MTBS_FIRE_NAME) = 'text' or typeof(MTBS_FIRE_NAME) = 'null') and not length(MTBS_FIRE_NAME) > 50), COMPLEX_NAME text(255) check((typeof(COMPLEX_NAME) = 'text' or typeof(COMPLEX_NAME) = 'null') and not length(COMPLEX_NAME) > 255), FIRE_YEAR int16 check((typeof(FIRE_YEAR) = 'integer' or typeof(FIRE_YEAR) = 'null') and FIRE_YEAR >= -32768 and FIRE_YEAR <= 32767), DISCOVERY_DATE realdate check((typeof(DISCOVERY_DATE) = 'real' or typeof(DISCOVERY_DATE) = 'null') and DISCOVERY_DATE >= 0.0), DISCOVERY_DOY int32 check((typeof(DISCOVERY_DOY) = 'integer' or typeof(DISCOVERY_DOY) = 'null') and DISCOVERY_DOY >= -2147483648 and DISCOVERY_DOY <= 2147483647), DISCOVERY_TIME text(4) check((typeof(DISCOVERY_TIME) = 'text' or typeof(DISCOVERY_TIME) = 'null') and not length(DISCOVERY_TIME) > 4), STAT_CAUSE_CODE float64 check(typeof(STAT_CAUSE_CODE) = 'real' or typeof(STAT_CAUSE_CODE) = 'null'), STAT_CAUSE_DESCR text(100) check((typeof(STAT_CAUSE_DESCR) = 'text' or typeof(STAT_CAUSE_DESCR) = 'null') and not length(STAT_CAUSE_DESCR) > 100), CONT_DATE realdate check((typeof(CONT_DATE) = 'real' or typeof(CONT_DATE) = 'null') and CONT_DATE >= 0.0), CONT_DOY int32 check((typeof(CONT_DOY) = 'integer' or typeof(CONT_DOY) = 'null') and CONT_DOY >= -2147483648 and CONT_DOY <= 2147483647), CONT_TIME text(4) check((typeof(CONT_TIME) = 'text' or typeof(CONT_TIME) = 'null') and not length(CONT_TIME) > 4), FIRE_SIZE float64 check(typeof(FIRE_SIZE) = 'real' or typeof(FIRE_SIZE) = 'null'), FIRE_SIZE_CLASS text(1) check((typeof(FIRE_SIZE_CLASS) = 'text' or typeof(FIRE_SIZE_CLASS) = 'null') and not length(FIRE_SIZE_CLASS) > 1), LATITUDE float64 check(typeof(LATITUDE) = 'real' or typeof(LATITUDE) = 'null'), LONGITUDE float64 check(typeof(LONGITUDE) = 'real' or typeof(LONGITUDE) = 'null'), OWNER_CODE float64 check(typeof(OWNER_CODE) = 'real' or typeof(OWNER_CODE) = 'null'), OWNER_DESCR text(100) check((typeof(OWNER_DESCR) = 'text' or typeof(OWNER_DESCR) = 'null') and not length(OWNER_DESCR) > 100), STATE text(255) check((typeof(STATE) = 'text' or typeof(STATE) = 'null') and not length(STATE) > 255), COUNTY text(255) check((typeof(COUNTY) = 'text' or typeof(COUNTY) = 'null') and not length(COUNTY) > 255), FIPS_CODE text(255) check((typeof(FIPS_CODE) = 'text' or typeof(FIPS_CODE) = 'null') and not length(FIPS_CODE) > 255), FIPS_NAME text(255) check((typeof(FIPS_NAME) = 'text' or typeof(FIPS_NAME) = 'null') and not length(FIPS_NAME) > 255), Shape POINT not null)",)

In [118]:
idx_fires_shape_var

('CREATE VIRTUAL TABLE "idx_Fires_Shape" USING rtree(pkid, xmin, xmax, ymin, ymax)',)

In [119]:
idx_fires_shape_node_var

('CREATE TABLE "idx_Fires_Shape_node"(nodeno INTEGER PRIMARY KEY, data BLOB)',)

In [120]:
idx_fires_shape_rowid_var

('CREATE TABLE "idx_Fires_Shape_rowid"(rowid INTEGER PRIMARY KEY, nodeno INTEGER)',)

In [121]:
idx_fires_shape_parent_var

('CREATE TABLE "idx_Fires_Shape_parent"(nodeno INTEGER PRIMARY KEY, parentnode INTEGER)',)

In [59]:
#fires_shape tables have items in them but no column names
#I will need to research what that table is.

# Pandas DataFrames
In the interest of exploration, I am goiong to throw these into Pandas DataFrames in order to get a better idea of what my data looks like

In [122]:
c.execute("""SELECT * 
               FROM spatial_ref_sys;""")
spatial_ref_sys_df = pd.DataFrame(c.fetchall())
spatial_ref_sys_df.columns = [x[0] for x in c.description]
spatial_ref_sys_df.head()

   srid  ...                                             srtext
0    -1  ...                                          Undefined
1     0  ...                                          Undefined
2  2000  ...  PROJCS["Anguilla 1957 / British West Indies Gr...
3  2001  ...  PROJCS["Antigua 1943 / British West Indies Gri...
4  2002  ...  PROJCS["Dominica 1945 / British West Indies Gr...

[5 rows x 6 columns]

In [123]:
c.execute("""SELECT * 
               FROM spatialite_history;""")
spatialite_history_df = pd.DataFrame(c.fetchall())
spatialite_history_df.columns = [x[0] for x in c.description]
spatialite_history_df.head()

   event_id        table_name  ... ver_sqlite ver_splite
0         1   spatial_ref_sys  ...      3.9.2  4.4.0-RC0
1         2  geometry_columns  ...      3.9.2  4.4.0-RC0
2         3  geometry_columns  ...      3.9.2  4.4.0-RC0
3         4  geometry_columns  ...      3.9.2  4.4.0-RC0
4         5  geometry_columns  ...      3.9.2  4.4.0-RC0

[5 rows x 7 columns]

In [124]:
c.execute("""SELECT * 
               FROM sqlite_sequence;""")
sqlite_sequence_df = pd.DataFrame(c.fetchall())
sqlite_sequence_df.columns = [x[0] for x in c.description]
sqlite_sequence_df.head()
#troubleshoot

                         name      seq
0          spatialite_history       16
1                       Fires  1880465
2  NWCG_UnitIDActive_20170109     5867

In [125]:
c.execute("""SELECT * 
               FROM geometry_columns;""")
geometry_columns_df = pd.DataFrame(c.fetchall())
geometry_columns_df.columns = [x[0] for x in c.description]
geometry_columns_df.head()
#troubleshoot

  f_table_name f_geometry_column  ...  srid  spatial_index_enabled
0        fires             shape  ...  4269                      1

[1 rows x 6 columns]

In [126]:
c.execute("""SELECT * 
               FROM spatial_ref_sys_aux;""")
spatial_ref_sys_aux_df = pd.DataFrame(c.fetchall())
spatial_ref_sys_aux_df.columns = [x[0] for x in c.description]
spatial_ref_sys_aux_df.head()

   srid  is_geographic  ...  axis_2_name axis_2_orientation
0  2000              0  ...     Northing              North
1  2001              0  ...     Northing              North
2  2002              0  ...     Northing              North
3  2003              0  ...     Northing              North
4  2004              0  ...     Northing              North

[5 rows x 12 columns]

In [127]:
c.execute("""SELECT * 
               FROM spatial_ref_sys_aux
               LIMIT 5;""").fetchall()
#this block (which matches the below) runs fine, 
#so it would seem  it is actually an issue with the table
#I will need to find a new way to query it

[(2000,
  0,
  0,
  'Clarke 1880 (RGS)',
  'Greenwich',
  'Anguilla_1957',
  'Transverse_Mercator',
  'metre',
  'Easting',
  'East',
  'Northing',
  'North'),
 (2001,
  0,
  0,
  'Clarke 1880 (RGS)',
  'Greenwich',
  'Antigua_1943',
  'Transverse_Mercator',
  'metre',
  'Easting',
  'East',
  'Northing',
  'North'),
 (2002,
  0,
  0,
  'Clarke 1880 (RGS)',
  'Greenwich',
  'Dominica_1945',
  'Transverse_Mercator',
  'metre',
  'Easting',
  'East',
  'Northing',
  'North'),
 (2003,
  0,
  0,
  'Clarke 1880 (RGS)',
  'Greenwich',
  'Grenada_1953',
  'Transverse_Mercator',
  'metre',
  'Easting',
  'East',
  'Northing',
  'North'),
 (2004,
  0,
  0,
  'Clarke 1880 (RGS)',
  'Greenwich',
  'Montserrat_1958',
  'Transverse_Mercator',
  'metre',
  'Easting',
  'East',
  'Northing',
  'North')]

In [128]:
c.execute("""SELECT * 
               FROM views_geometry_columns;""")
views_geometry_columns_df = pd.DataFrame(c.fetchall())
views_geometry_columns_df.columns = [x[0] for x in c.description]
views_geometry_columns_df.head()
#troubleshoot table

ValueError: ignored

In [67]:
c.execute("""SELECT * FROM views_geometry_columns;""").fetchall()
#something is going wrong in the query, hence why it is not returning any data
#and that's why it errors on the columns- it doesn't have data to put in the columns

[]

In [68]:
c.description
#i think it is connecting to the table, hence the var names
#it just isn't pulling the data

(('view_name', None, None, None, None, None, None),
 ('view_geometry', None, None, None, None, None, None),
 ('view_rowid', None, None, None, None, None, None),
 ('f_table_name', None, None, None, None, None, None),
 ('f_geometry_column', None, None, None, None, None, None),
 ('read_only', None, None, None, None, None, None))

In [69]:
#attempted to change variable to .fetchall() instead of .fetchone() to no avail 
#perhaps attempt creating table- maybe this isn't a table yet 
#comparing a var that works and one that doesn't shows me that it's not an error of the table not being created 
#i wonder if it is an issue of the var having the same name as the table. No. It's not that.

In [ ]:
c.execute("""SELECT * 
               FROM virts_geometry_columns;""")
virts_geometry_columns_df = pd.DataFrame(c.fetchall())
virts_geometry_columns_df.columns = [x[0] for x in c.description]
virts_geometry_columns_df.head()
#troubleshoot

In [ ]:
c.execute("""SELECT * 
               FROM geometry_columns_statistics;""")
geometry_columns_stat_df = pd.DataFrame(c.fetchall())
geometry_columns_stat_df.columns = [x[0] for x in c.description]
geometry_columns_stat_df.head()

In [ ]:
c.execute("""SELECT * 
               FROM views_geometry_columns_statistics;""")
views_geometry_columns_stat_df = pd.DataFrame(c.fetchall())
views_geometry_columns_stat_df.columns = [x[0] for x in c.description]
views_geometry_columns_stat_df.head()
#troubleshoot

In [ ]:
c.execute("""SELECT * 
               FROM virts_geometry_columns_statistics;""")
virts_geometry_columns_stats_df = pd.DataFrame(c.fetchall())
virts_geometry_columns_df.columns = [x[0] for x in c.description]
virts_geometry_columns_df.head()
#troubleshoot

In [ ]:
c.execute("""SELECT * 
               FROM geometry_columns_field_infos;""")
geometry_columns_field_infos_df = pd.DataFrame(c.fetchall())
geometry_columns_field_infos_df.columns = [x[0] for x in c.description]
geometry_columns_field_infos_df.head()
#troubleshoot

In [ ]:
c.execute("""SELECT * 
               FROM virts_geometry_columns_field_infos;""")
virts_geometry_columns_field_infos_df = pd.DataFrame(c.fetchall())
virts_geometry_columns_field_infos_df.columns = [x[0] for x in c.description]
virts_geometry_columns_field_infos_df.head()
#troubleshoot

In [ ]:
c.execute("""SELECT * 
               FROM geometry_columns_time;""")
geometry_columns_time_df = pd.DataFrame(c.fetchall())
geometry_columns_time_df.columns = [x[0] for x in c.description]
geometry_columns_time_df.head()

In [ ]:
c.execute("""SELECT * 
               FROM geometry_columns_auth;""")
geometry_columns_auth_df = pd.DataFrame(c.fetchall())
geometry_columns_auth_df.columns = [x[0] for x in c.description]
geometry_columns_auth_df.head()
#troubleshoot

In [ ]:
c.execute("""SELECT * 
               FROM views_geometry_columns_auth;""")
views_geometry_columns_auth_df = pd.DataFrame(c.fetchall())
views_geometry_columns_auth_df.columns = [x[0] for x in c.description]
views_geometry_columns_auth_df.head()
#troubleshoot

In [ ]:
c.execute("""SELECT * 
               FROM virts_geometry_columns_auth;""")
virts_geometry_columns_auth_df = pd.DataFrame(c.fetchall())
virts_geometry_columns_auth_df.columns = [x[0] for x in c.description]
virts_geometry_columns_auth_df.head()
#troubleshoot

In [ ]:
c.execute("""SELECT * 
               FROM sql_statements_log;""")
sql_statements_log_df = pd.DataFrame(c.fetchall())
sql_statements_log_df.columns = [x[0] for x in c.description]
sql_statements_log_df.head()
#troubleshoot