<a href="https://colab.research.google.com/github/kjsampler/Wildfire-Data/blob/main/WildFire_Data_Exploration_(Colab).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook will be used to explore the wildfire dataset, and trim it down to what is necessary in order to avoid pushing a large file to GitHub.

In [1]:
#https://www.kaggle.com/rtatman/188-million-us-wildfires
#Located in MyDrive

In [2]:
#!unzip /content/drive/MyDrive/archive.zip -d /content/drive/MyDrive/WildfireData
# line to unzip and redirect data (commented out once completed)

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect('/content/drive/MyDrive/WildfireData/FPA_FOD_20170508.sqlite')
c = conn.cursor()

# Analyze Schema
Schema is first marked down on paper and then organized into a visualization.

In [5]:
c.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""")
table_names = c.fetchall()

In [6]:
table_names

[('spatial_ref_sys',),
 ('spatialite_history',),
 ('sqlite_sequence',),
 ('geometry_columns',),
 ('spatial_ref_sys_aux',),
 ('views_geometry_columns',),
 ('virts_geometry_columns',),
 ('geometry_columns_statistics',),
 ('views_geometry_columns_statistics',),
 ('virts_geometry_columns_statistics',),
 ('geometry_columns_field_infos',),
 ('views_geometry_columns_field_infos',),
 ('virts_geometry_columns_field_infos',),
 ('geometry_columns_time',),
 ('geometry_columns_auth',),
 ('views_geometry_columns_auth',),
 ('virts_geometry_columns_auth',),
 ('sql_statements_log',),
 ('SpatialIndex',),
 ('ElementaryGeometries',),
 ('KNN',),
 ('Fires',),
 ('idx_Fires_Shape',),
 ('idx_Fires_Shape_node',),
 ('idx_Fires_Shape_rowid',),
 ('idx_Fires_Shape_parent',),
 ('NWCG_UnitIDActive_20170109',)]

In [7]:
spatial_ref_sys = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'spatial_ref_sys';""").fetchone()

In [8]:
spatialite_history = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'spatialite_history';""").fetchone()

In [9]:
sqlite_sequence = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'sqlite_sequence';""").fetchone()

In [10]:
geometry_columns = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'geometry_columns';""").fetchone()

In [11]:
spatial_ref_sys_aux = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'spatial_ref_sys_aux';""").fetchone()

In [12]:
views_geometry_columns = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'views_geometry_columns';""").fetchone()

In [13]:
virts_geometry_columns = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'virts_geometry_columns';""").fetchone()

In [14]:
geometry_columns_stats = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'geometry_columns_statistics';""").fetchone()

In [15]:
views_geometry_columns_stats = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'views_geometry_columns_statistics';""").fetchone()

In [16]:
virts_geometry_columns_stats = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'virts_geometry_columns_statistics';""").fetchone()

In [17]:
geometry_columns_field_infos = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'geometry_columns_field_infos';""").fetchone()

In [18]:
views_geometry_columns_field_infos = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'views_geometry_columns_field_infos';""").fetchone()

In [19]:
virts_geometry_columns_field_infos = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'virts_geometry_columns_field_infos';""").fetchone()

In [20]:
geometry_columns_time = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'geometry_columns_time';""").fetchone()

In [21]:
geometry_columns_auth = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'geometry_columns_auth';""").fetchone()

In [22]:
views_geometry_columns_auth = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'views_geometry_columns_auth';""").fetchone()

In [23]:
virts_geometry_columns_auth = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'virts_geometry_columns_auth';""").fetchone()

In [24]:
sql_statements_log = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'sql_statements_log';""").fetchone()

In [25]:
spatial_index = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'SpatialIndex';""").fetchone()

In [26]:
elementary_geometries = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'ElementaryGeometries';""").fetchone()

In [27]:
knn = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'KNN';""").fetchone()

In [28]:
fires = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'Fires';""").fetchone()

In [29]:
idx_fires_shape = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'idx_Fires_Shape';""").fetchone()

In [30]:
idx_fires_shape_node = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'idx_Fires_Shape_node';""").fetchone()

In [31]:
idx_fires_shape_rowid = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'idx_Fires_Shape_rowid';""").fetchone()

In [32]:
idx_fires_shape_parent = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'idx_Fires_Shape_parent';""").fetchone()

In [33]:
NWCG_UnitIDActive_20170109 = c.execute("""SELECT sql FROM sqlite_master WHERE type = 'table' AND name = 'NWCG_UnitIDActive_20170109';""").fetchone()

In [34]:
spatial_ref_sys

("CREATE TABLE spatial_ref_sys (\nsrid INTEGER NOT NULL PRIMARY KEY,\nauth_name TEXT NOT NULL,\nauth_srid INTEGER NOT NULL,\nref_sys_name TEXT NOT NULL DEFAULT 'Unknown',\nproj4text TEXT NOT NULL,\nsrtext TEXT NOT NULL DEFAULT 'Undefined')",)

* srid
* auth_name
* auth_srid
* nref_sys_name
* nproj4text
* srtext

In [35]:
spatialite_history

('CREATE TABLE spatialite_history (\nevent_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,\ntable_name TEXT NOT NULL,\ngeometry_column TEXT,\nevent TEXT NOT NULL,\ntimestamp TEXT NOT NULL,\nver_sqlite TEXT NOT NULL,\nver_splite TEXT NOT NULL)',)

* event_id
* table_name
* geometry_column
* event
* timestamp
* ver_splite
* ver_splite

In [36]:
sqlite_sequence

('CREATE TABLE sqlite_sequence(name,seq)',)

* name
* seq

In [37]:
geometry_columns

('CREATE TABLE geometry_columns (\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\ngeometry_type INTEGER NOT NULL,\ncoord_dimension INTEGER NOT NULL,\nsrid INTEGER NOT NULL,\nspatial_index_enabled INTEGER NOT NULL,\nCONSTRAINT pk_geom_cols PRIMARY KEY (f_table_name, f_geometry_column),\nCONSTRAINT fk_gc_srs FOREIGN KEY (srid) REFERENCES spatial_ref_sys (srid),\nCONSTRAINT ck_gc_rtree CHECK (spatial_index_enabled IN (0,1,2)))',)

* f_table_name
* f_geometry_column
* geometry_type
* coord_dimension
* spatial_index_enabled
* srid

In [38]:
spatial_ref_sys_aux

('CREATE TABLE spatial_ref_sys_aux (\n\tsrid INTEGER NOT NULL PRIMARY KEY,\n\tis_geographic INTEGER,\n\thas_flipped_axes INTEGER,\n\tspheroid TEXT,\n\tprime_meridian TEXT,\n\tdatum TEXT,\n\tprojection TEXT,\n\tunit TEXT,\n\taxis_1_name TEXT,\n\taxis_1_orientation TEXT,\n\taxis_2_name TEXT,\n\taxis_2_orientation TEXT,\n\tCONSTRAINT fk_sprefsys FOREIGN KEY (srid) \tREFERENCES spatial_ref_sys (srid))',)

* srid
* is_geographic
* has_flipped_axes
* spheroid
* prime_meridian
* projection
* unit
* axis_1_name
* axis_1_orientation
* axis_2_name
* axis_2_orientation

In [39]:
views_geometry_columns

('CREATE TABLE views_geometry_columns (\nview_name TEXT NOT NULL,\nview_geometry TEXT NOT NULL,\nview_rowid TEXT NOT NULL,\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\nread_only INTEGER NOT NULL,\nCONSTRAINT pk_geom_cols_views PRIMARY KEY (view_name, view_geometry),\nCONSTRAINT fk_views_geom_cols FOREIGN KEY (f_table_name, f_geometry_column) REFERENCES geometry_columns (f_table_name, f_geometry_column) ON DELETE CASCADE,\nCONSTRAINT ck_vw_rdonly CHECK (read_only IN (0,1)))',)

* view_name
* view_geometry
* view_rowid
* f_table_name
* f_geometry_columns
* read_only

In [40]:
virts_geometry_columns

('CREATE TABLE virts_geometry_columns (\nvirt_name TEXT NOT NULL,\nvirt_geometry TEXT NOT NULL,\ngeometry_type INTEGER NOT NULL,\ncoord_dimension INTEGER NOT NULL,\nsrid INTEGER NOT NULL,\nCONSTRAINT pk_geom_cols_virts PRIMARY KEY (virt_name, virt_geometry),\nCONSTRAINT fk_vgc_srid FOREIGN KEY (srid) REFERENCES spatial_ref_sys (srid))',)

* virt_name
* virt_geometry
* geometry_type
* coord_dimension
* srid

In [41]:
geometry_columns_stats

('CREATE TABLE geometry_columns_statistics (\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\nlast_verified TIMESTAMP,\nrow_count INTEGER,\nextent_min_x DOUBLE,\nextent_min_y DOUBLE,\nextent_max_x DOUBLE,\nextent_max_y DOUBLE,\nCONSTRAINT pk_gc_statistics PRIMARY KEY (f_table_name, f_geometry_column),\nCONSTRAINT fk_gc_statistics FOREIGN KEY (f_table_name, f_geometry_column) REFERENCES geometry_columns (f_table_name, f_geometry_column) ON DELETE CASCADE)',)

* f_table_name
* f_geometry_column
* last_verified
* row_count
* extent_min_x
* extent_min_y
* extent_max_x 
* extent_max_y

In [42]:
views_geometry_columns_stats

('CREATE TABLE views_geometry_columns_statistics (\nview_name TEXT NOT NULL,\nview_geometry TEXT NOT NULL,\nlast_verified TIMESTAMP,\nrow_count INTEGER,\nextent_min_x DOUBLE,\nextent_min_y DOUBLE,\nextent_max_x DOUBLE,\nextent_max_y DOUBLE,\nCONSTRAINT pk_vwgc_statistics PRIMARY KEY (view_name, view_geometry),\nCONSTRAINT fk_vwgc_statistics FOREIGN KEY (view_name, view_geometry) REFERENCES views_geometry_columns (view_name, view_geometry) ON DELETE CASCADE)',)

* view_name
* view_geometry
* last_verified
* row_count
* extent_min_x
* extent_min_y
* extent_max_x
* extent_max_y

In [43]:
virts_geometry_columns_stats

('CREATE TABLE virts_geometry_columns_statistics (\nvirt_name TEXT NOT NULL,\nvirt_geometry TEXT NOT NULL,\nlast_verified TIMESTAMP,\nrow_count INTEGER,\nextent_min_x DOUBLE,\nextent_min_y DOUBLE,\nextent_max_x DOUBLE,\nextent_max_y DOUBLE,\nCONSTRAINT pk_vrtgc_statistics PRIMARY KEY (virt_name, virt_geometry),\nCONSTRAINT fk_vrtgc_statistics FOREIGN KEY (virt_name, virt_geometry) REFERENCES virts_geometry_columns (virt_name, virt_geometry) ON DELETE CASCADE)',)

* virt_name
* virt_geometry
* last_verified
* row_count
* extent_min_x
* extent_min_y
* extent_max_x
* extent_max_y

In [44]:
geometry_columns_field_infos

('CREATE TABLE geometry_columns_field_infos (\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\nordinal INTEGER NOT NULL,\ncolumn_name TEXT NOT NULL,\nnull_values INTEGER NOT NULL,\ninteger_values INTEGER NOT NULL,\ndouble_values INTEGER NOT NULL,\ntext_values INTEGER NOT NULL,\nblob_values INTEGER NOT NULL,\nmax_size INTEGER,\ninteger_min INTEGER,\ninteger_max INTEGER,\ndouble_min DOUBLE,\ndouble_max DOUBLE,\nCONSTRAINT pk_gcfld_infos PRIMARY KEY (f_table_name, f_geometry_column, ordinal, column_name),\nCONSTRAINT fk_gcfld_infos FOREIGN KEY (f_table_name, f_geometry_column) REFERENCES geometry_columns (f_table_name, f_geometry_column) ON DELETE CASCADE)',)

* f_table_name
* f_geometry_column
* ordinal
* column_name
* null_values
* integer_values
* double_values
* text_values
* blob_values
* max_size
* integer_max
* double_min
* double_max

In [45]:
virts_geometry_columns_field_infos

('CREATE TABLE virts_geometry_columns_field_infos (\nvirt_name TEXT NOT NULL,\nvirt_geometry TEXT NOT NULL,\nordinal INTEGER NOT NULL,\ncolumn_name TEXT NOT NULL,\nnull_values INTEGER NOT NULL,\ninteger_values INTEGER NOT NULL,\ndouble_values INTEGER NOT NULL,\ntext_values INTEGER NOT NULL,\nblob_values INTEGER NOT NULL,\nmax_size INTEGER,\ninteger_min INTEGER,\ninteger_max INTEGER,\ndouble_min DOUBLE,\ndouble_max DOUBLE,\nCONSTRAINT pk_vrtgcfld_infos PRIMARY KEY (virt_name, virt_geometry, ordinal, column_name),\nCONSTRAINT fk_vrtgcfld_infos FOREIGN KEY (virt_name, virt_geometry) REFERENCES virts_geometry_columns (virt_name, virt_geometry) ON DELETE CASCADE)',)

* virt_name
* virt_geometry
* ordinal
* column_name
* null_values
* integer_values
* double_values
* text_values
* blob_values
* max_size
* integer_min
* integer_max
* double_min
* double_max

In [46]:
geometry_columns_time

("CREATE TABLE geometry_columns_time (\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\nlast_insert TIMESTAMP NOT NULL DEFAULT '0000-01-01T00:00:00.000Z',\nlast_update TIMESTAMP NOT NULL DEFAULT '0000-01-01T00:00:00.000Z',\nlast_delete TIMESTAMP NOT NULL DEFAULT '0000-01-01T00:00:00.000Z',\nCONSTRAINT pk_gc_time PRIMARY KEY (f_table_name, f_geometry_column),\nCONSTRAINT fk_gc_time FOREIGN KEY (f_table_name, f_geometry_column) REFERENCES geometry_columns (f_table_name, f_geometry_column) ON DELETE CASCADE)",)

* f_table_name
* f_geometry_column
* last_insert
* last_update
* last_delete

In [47]:
geometry_columns_auth

('CREATE TABLE geometry_columns_auth (\nf_table_name TEXT NOT NULL,\nf_geometry_column TEXT NOT NULL,\nread_only INTEGER NOT NULL,\nhidden INTEGER NOT NULL,\nCONSTRAINT pk_gc_auth PRIMARY KEY (f_table_name, f_geometry_column),\nCONSTRAINT fk_gc_auth FOREIGN KEY (f_table_name, f_geometry_column) REFERENCES geometry_columns (f_table_name, f_geometry_column) ON DELETE CASCADE,\nCONSTRAINT ck_gc_ronly CHECK (read_only IN (0,1)),\nCONSTRAINT ck_gc_hidden CHECK (hidden IN (0,1)))',)

* f_table_name
* f_geometry_column
* read_only
* hidden

In [48]:
views_geometry_columns_auth

('CREATE TABLE views_geometry_columns_auth (\nview_name TEXT NOT NULL,\nview_geometry TEXT NOT NULL,\nhidden INTEGER NOT NULL,\nCONSTRAINT pk_vwgc_auth PRIMARY KEY (view_name, view_geometry),\nCONSTRAINT fk_vwgc_auth FOREIGN KEY (view_name, view_geometry) REFERENCES views_geometry_columns (view_name, view_geometry) ON DELETE CASCADE,\nCONSTRAINT ck_vwgc_hidden CHECK (hidden IN (0,1)))',)

* view_name
* view_geometry
* hidden

In [49]:
virts_geometry_columns_auth

('CREATE TABLE virts_geometry_columns_auth (\nvirt_name TEXT NOT NULL,\nvirt_geometry TEXT NOT NULL,\nhidden INTEGER NOT NULL,\nCONSTRAINT pk_vrtgc_auth PRIMARY KEY (virt_name, virt_geometry),\nCONSTRAINT fk_vrtgc_auth FOREIGN KEY (virt_name, virt_geometry) REFERENCES virts_geometry_columns (virt_name, virt_geometry) ON DELETE CASCADE,\nCONSTRAINT ck_vrtgc_hidden CHECK (hidden IN (0,1)))',)

* virt_name
* virt_geometry
* hidden

In [50]:
sql_statements_log

("CREATE TABLE sql_statements_log (\nid INTEGER PRIMARY KEY AUTOINCREMENT,\ntime_start TIMESTAMP NOT NULL DEFAULT '0000-01-01T00:00:00.000Z',\ntime_end TIMESTAMP NOT NULL DEFAULT '0000-01-01T00:00:00.000Z',\nuser_agent TEXT NOT NULL,\nsql_statement TEXT NOT NULL,\nsuccess INTEGER NOT NULL DEFAULT 0,\nerror_cause TEXT NOT NULL DEFAULT 'ABORTED',\nCONSTRAINT sqllog_success CHECK (success IN (0,1)))",)

* id
* time_start
* time_end
* user_agent
* sql_statement
* success
* error_cause

In [51]:
spatial_index

('CREATE VIRTUAL TABLE SpatialIndex USING VirtualSpatialIndex()',)

In [52]:
elementary_geometries

('CREATE VIRTUAL TABLE ElementaryGeometries USING VirtualElementary()',)

In [53]:
knn

('CREATE VIRTUAL TABLE KNN USING VirtualKNN()',)

Virtual Tables (aka Views) are basically a combo of pieces of other table.  
I will need to determine if I actually need to use these.

In [54]:
fires

("CREATE TABLE Fires (OBJECTID integer primary key autoincrement not null, FOD_ID int32 check((typeof(FOD_ID) = 'integer' or typeof(FOD_ID) = 'null') and FOD_ID >= -2147483648 and FOD_ID <= 2147483647), FPA_ID text(100) check((typeof(FPA_ID) = 'text' or typeof(FPA_ID) = 'null') and not length(FPA_ID) > 100), SOURCE_SYSTEM_TYPE text(255) check((typeof(SOURCE_SYSTEM_TYPE) = 'text' or typeof(SOURCE_SYSTEM_TYPE) = 'null') and not length(SOURCE_SYSTEM_TYPE) > 255), SOURCE_SYSTEM text(30) check((typeof(SOURCE_SYSTEM) = 'text' or typeof(SOURCE_SYSTEM) = 'null') and not length(SOURCE_SYSTEM) > 30), NWCG_REPORTING_AGENCY text(255) check((typeof(NWCG_REPORTING_AGENCY) = 'text' or typeof(NWCG_REPORTING_AGENCY) = 'null') and not length(NWCG_REPORTING_AGENCY) > 255), NWCG_REPORTING_UNIT_ID text(255) check((typeof(NWCG_REPORTING_UNIT_ID) = 'text' or typeof(NWCG_REPORTING_UNIT_ID) = 'null') and not length(NWCG_REPORTING_UNIT_ID) > 255), NWCG_REPORTING_UNIT_NAME text(255) check((typeof(NWCG_REPORTING_UNIT_NAME) = 'text' or typeof(NWCG_REPORTING_UNIT_NAME) = 'null') and not length(NWCG_REPORTING_UNIT_NAME) > 255), SOURCE_REPORTING_UNIT text(30) check((typeof(SOURCE_REPORTING_UNIT) = 'text' or typeof(SOURCE_REPORTING_UNIT) = 'null') and not length(SOURCE_REPORTING_UNIT) > 30), SOURCE_REPORTING_UNIT_NAME text(255) check((typeof(SOURCE_REPORTING_UNIT_NAME) = 'text' or typeof(SOURCE_REPORTING_UNIT_NAME) = 'null') and not length(SOURCE_REPORTING_UNIT_NAME) > 255), LOCAL_FIRE_REPORT_ID text(255) check((typeof(LOCAL_FIRE_REPORT_ID) = 'text' or typeof(LOCAL_FIRE_REPORT_ID) = 'null') and not length(LOCAL_FIRE_REPORT_ID) > 255), LOCAL_INCIDENT_ID text(255) check((typeof(LOCAL_INCIDENT_ID) = 'text' or typeof(LOCAL_INCIDENT_ID) = 'null') and not length(LOCAL_INCIDENT_ID) > 255), FIRE_CODE text(10) check((typeof(FIRE_CODE) = 'text' or typeof(FIRE_CODE) = 'null') and not length(FIRE_CODE) > 10), FIRE_NAME text(255) check((typeof(FIRE_NAME) = 'text' or typeof(FIRE_NAME) = 'null') and not length(FIRE_NAME) > 255), ICS_209_INCIDENT_NUMBER text(255) check((typeof(ICS_209_INCIDENT_NUMBER) = 'text' or typeof(ICS_209_INCIDENT_NUMBER) = 'null') and not length(ICS_209_INCIDENT_NUMBER) > 255), ICS_209_NAME text(255) check((typeof(ICS_209_NAME) = 'text' or typeof(ICS_209_NAME) = 'null') and not length(ICS_209_NAME) > 255), MTBS_ID text(255) check((typeof(MTBS_ID) = 'text' or typeof(MTBS_ID) = 'null') and not length(MTBS_ID) > 255), MTBS_FIRE_NAME text(50) check((typeof(MTBS_FIRE_NAME) = 'text' or typeof(MTBS_FIRE_NAME) = 'null') and not length(MTBS_FIRE_NAME) > 50), COMPLEX_NAME text(255) check((typeof(COMPLEX_NAME) = 'text' or typeof(COMPLEX_NAME) = 'null') and not length(COMPLEX_NAME) > 255), FIRE_YEAR int16 check((typeof(FIRE_YEAR) = 'integer' or typeof(FIRE_YEAR) = 'null') and FIRE_YEAR >= -32768 and FIRE_YEAR <= 32767), DISCOVERY_DATE realdate check((typeof(DISCOVERY_DATE) = 'real' or typeof(DISCOVERY_DATE) = 'null') and DISCOVERY_DATE >= 0.0), DISCOVERY_DOY int32 check((typeof(DISCOVERY_DOY) = 'integer' or typeof(DISCOVERY_DOY) = 'null') and DISCOVERY_DOY >= -2147483648 and DISCOVERY_DOY <= 2147483647), DISCOVERY_TIME text(4) check((typeof(DISCOVERY_TIME) = 'text' or typeof(DISCOVERY_TIME) = 'null') and not length(DISCOVERY_TIME) > 4), STAT_CAUSE_CODE float64 check(typeof(STAT_CAUSE_CODE) = 'real' or typeof(STAT_CAUSE_CODE) = 'null'), STAT_CAUSE_DESCR text(100) check((typeof(STAT_CAUSE_DESCR) = 'text' or typeof(STAT_CAUSE_DESCR) = 'null') and not length(STAT_CAUSE_DESCR) > 100), CONT_DATE realdate check((typeof(CONT_DATE) = 'real' or typeof(CONT_DATE) = 'null') and CONT_DATE >= 0.0), CONT_DOY int32 check((typeof(CONT_DOY) = 'integer' or typeof(CONT_DOY) = 'null') and CONT_DOY >= -2147483648 and CONT_DOY <= 2147483647), CONT_TIME text(4) check((typeof(CONT_TIME) = 'text' or typeof(CONT_TIME) = 'null') and not length(CONT_TIME) > 4), FIRE_SIZE float64 check(typeof(FIRE_SIZE) = 'real' or typeof(FIRE_SIZE) = 'null'), FIRE_SIZE_CLASS text(1) check((typeof(FIRE_SIZE_CLASS) = 'text' or typeof(FIRE_SIZE_CLASS) = 'null') and not length(FIRE_SIZE_CLASS) > 1), LATITUDE float64 check(typeof(LATITUDE) = 'real' or typeof(LATITUDE) = 'null'), LONGITUDE float64 check(typeof(LONGITUDE) = 'real' or typeof(LONGITUDE) = 'null'), OWNER_CODE float64 check(typeof(OWNER_CODE) = 'real' or typeof(OWNER_CODE) = 'null'), OWNER_DESCR text(100) check((typeof(OWNER_DESCR) = 'text' or typeof(OWNER_DESCR) = 'null') and not length(OWNER_DESCR) > 100), STATE text(255) check((typeof(STATE) = 'text' or typeof(STATE) = 'null') and not length(STATE) > 255), COUNTY text(255) check((typeof(COUNTY) = 'text' or typeof(COUNTY) = 'null') and not length(COUNTY) > 255), FIPS_CODE text(255) check((typeof(FIPS_CODE) = 'text' or typeof(FIPS_CODE) = 'null') and not length(FIPS_CODE) > 255), FIPS_NAME text(255) check((typeof(FIPS_NAME) = 'text' or typeof(FIPS_NAME) = 'null') and not length(FIPS_NAME) > 255), Shape POINT not null)",)

In [55]:
idx_fires_shape

('CREATE VIRTUAL TABLE "idx_Fires_Shape" USING rtree(pkid, xmin, xmax, ymin, ymax)',)

In [56]:
idx_fires_shape_node

('CREATE TABLE "idx_Fires_Shape_node"(nodeno INTEGER PRIMARY KEY, data BLOB)',)

In [57]:
idx_fires_shape_rowid

('CREATE TABLE "idx_Fires_Shape_rowid"(rowid INTEGER PRIMARY KEY, nodeno INTEGER)',)

In [58]:
idx_fires_shape_parent

('CREATE TABLE "idx_Fires_Shape_parent"(nodeno INTEGER PRIMARY KEY, parentnode INTEGER)',)

Next steps: 
* investigate virtual tables
* move on to creating schema